<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@500;600&display=swap" rel="stylesheet">
</head>
<body onload="main()">
    
    <div class="container">
    <nav>
        <ul>
            <li> <a href="/auth/logout" id="logout"> Log Out</a></li>
            <li> <a href="/todos" id="todos"> To-Dos</a></li>
            <li> <a href="/" id="home">Home</a></li>
        </ul>
    </nav>
    

    
    
