<%- include('./partials/boilerplate')  %> 
<h1>WELCOME TO THE</h1>
<h1>TODO APP</h1>
<div class="buttons">
    <a href="./auth/login">Login!</a>
    <a href="/users/new">Sign Up!</a>
</div>

</div>
<%- include('./partials/end')  %> 