<%- include('../partials/boilerplate.ejs')  %> 


    <form id="add-form" class="edit-form" method='POST' action='/toDos'>
      <div>
        <h4>TITLE</h4>
        <input type="text" name="title" />
      </div>
       <div>
        <h4>CATEGORY</h4>
        <input type="text" name="category" />
       </div>
       <div>
        <H4>DESCRIPTION</H4>
        <textarea form="add-form" name="description" id="" cols="30" rows="10"></textarea>
       </div> 
       <div class="edit-buttons">
          <input type="submit" value="Add!"/>
          <a href="/toDos">Go Back</a>
        </div>
      </form>
  </div>
<%- include('../partials/end.ejs')  %> 
